.submit {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-left: 28px;
	padding-right: 62px;
	padding-bottom: 10px;
	margin-left: 12px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	cursor: pointer;
	border-radius: 4px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	width: 200px;
	height: 50px;
 }
 .form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	/* margin-left: 500px; */
 }
 .form-field {
	display: flex;
	flex-direction: column;
	margin-left: 93px;
 }
 .form-input {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	background: transparent;
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 border-radius: 4px;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 color: rgba(255, 255, 255, 0.6);
 
 }
 .form-mail {
 margin-bottom: 20px;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: calc(16 / 14);
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #FFFFFF;
 }
 .mail-send {
	position: absolute;
	top: 13px;
	right: 28px;
	margin: 0px;
 }
 
 /* cтилізація форми на модалці */
 textarea {
	resize: none;
 }
 .text-iput {
	padding: 12px 16px;
	width: 448px;
 height: 120px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 letter-spacing: 0.01em;
 
 color: rgba(117, 117, 117, 0.5);
 }
 .submit-call {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-right: 52px;
	padding-bottom: 10px;
	padding-left: 52px;
	margin-left: auto;
	margin-right: auto;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	cursor: pointer;
	border-radius: 4px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	width: 200px;
	height: 50px;
 }
 .call {
	display: flex;
	flex-direction: column;
 }
 
 .call-title {
  font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 20px;
 line-height: calc(23 / 20);
 text-align: center;
 letter-spacing: 0.03em;
 color: var(--title-text-color);
 }
 .form-name {
	/* display: block; */
 position: absolute;
	top: -18px;
	left: 0;
	/* margin-top: 10px; */
  font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: calc(14 / 12);
 /* identical to box height */
 letter-spacing: 0.01em;
 color: var(--primary-text-color)
 }
 .form-policy {
	display: inline-block;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: calc(24 / 12);
 letter-spacing: 0.03em;
 color: var(--primary-text-color);
 }
 .form-block {
	  position: relative;
	margin-bottom: 28px;
	width: 448px;
 }
 .form-block:last-child {
 margin-bottom: 20px;
 }
 .form-block:first-child {
	margin-top: 30px;
 }
 .input-call {
 padding-left: 37px;
 width: 448px;
 height: 40px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
 cursor: pointer;
 }
 .check-block {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	margin-bottom: 30px;
	/* margin-left: auto;
	margin-right: auto; */
 }
 .contract {
 color: var(--accent-color);
 }
 .icon-input {
	position: absolute;
	top: 11px;
	left: 12px;
 }
 .icon-close {
	&:hover {
		fill: var(--accent-color);
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	 }
 }
 
 .input-call {
	&:focus + .icon-input {
		fill: var(--accent-color);
	 }
 }
 
 .input-call {
	&:hover, &:focus {
		outline: 1px solid var(--accent-color);
	 }
 }
 