.main-nav {
	display: flex;
	align-items: center;
 }
 .header {
	border-bottom: 1px solid #ececec;
 }
 /* стилі логотипу */
 .logo {
	padding-top: 21px;
	padding-bottom: 21px;
	color: var(--accent-color);
	font-family: var(--logo-font);
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	text-decoration: none;
	letter-spacing: 0.03em;
 }
 .logo-web {
	color: var(--title-text-color);
 }
 .logo-studio {
	color: var(--primary-white-color);
 }
 /* стилі контактів шапки */
 .site-nav {
	display: flex;
	margin-left: 93px;
 }
 .site-nav__item + .site-nav__item {
	margin-left: 50px;
 }
 
 .site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
 }
 .site-contacts {
	display: flex;
	margin-left: auto;
	align-items: center;
 }
 .site-contacts__item + .site-contacts__item {
	margin-left: 50px;
 }
 
 .site-contacts__contact {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 21px;
	padding-bottom: 21px;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--primary-text-color);
 }
 .site-contacts__contact {
	&:hover, &:focus {
		color: var(--accent-color);
	 }
 }
 
 .site-contacts__icon {
	margin-right: 10px;
	fill: var(--primary-text-color);
 }
 .site-contacts__contact {
	&:hover, &:focus {
		.site-contacts__icon {
			fill: var(--accent-color);
		 }
	 }
 }

 /* стилі навігатора */
 
 .site-nav__link-current .site-nav__link-secondary {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
 }
 
 .site-nav__link-secondary {
	&:hover, &:focus {
	 color: var(--accent-color);
  }
 }
 
 
 .site-nav__link-current {
	color: var(--accent-color);
  
 }
 .site-nav__link-current {
	display: block;
	position: relative;
	}
 
 .site-nav__link-current {
	&::after {
		display: block;
		position: absolute;
		content: '';
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		background-color: var(--accent-color);
		border-radius: 2px;
	 
	 }
 }
 
.site-nav__link-secondary {
	&::after {
		display: block;
		position: absolute;
		content: '';
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		background-color: var(--accent-color);
		border-radius: 2px;
		transform: scale(0);
		transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1)
	 }
}
 
 .site-nav__link-secondary {
	&:hover {
		&::after {
			transform: scale(1);
		 } 
	}
}
 