.gallary {
	padding-top: 94px;
	padding-bottom: 94px;
 }
 .button-filter {
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	cursor: pointer;
	background-color: var(--background-color-gray);
	border-radius: 4px;
	border: 0;
	box-shadow: none;
	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: linear;
	transition-delay: 250ms;
 }
 .button-filter {
	&:hover, &:focus {
		color: var(--primary-white-color);
		background-color: var(--accent-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	 }
 }
 
 .button-all {
	width: 73px;
	height: 38px;
 }
 .button-site, .button-appendices, .button-design, .button-marketing {
	width: 125px;
	height: 38px;
 }
 
 .button-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
 }
 
 .button-item {
	display: block;
 }
 .button-item + .button-item {
	margin-left: 8px;
 }
 /* стиль Галереї проєктів */
 .gallary-project {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
 }
 .gallary-card {
	flex-basis: calc((100% - 60px) / 3);
	background-color: var(--primary-white-color);
 }
 
 .gallary-card:nth-child(3n) {
	margin-right: 0px;
 }
 .gallary-card:nth-last-child(-n + 3) {
	margin-bottom: 0px;
 }
 .gallary-link {
	display: block;
	box-shadow: none;
	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: linear;
	transition-delay: 250ms;
	
 }
 .gallary-link {
	&:hover, &:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	 }
 }
 
 .gallary-photo {
	display: block;
 }
 .gallary-projects {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	border: 1px solid #EEEEEE;
 }
 .gallary-title {
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
	color: var(--title-text-color);
	text-decoration: none;
 }
 
 .gallary-text {
	font-size: 16px;
	font-weight: 400;
	line-height: calc(30 / 16);
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
 }