.project {
	padding-top: 0px;
 }
 .project__title {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--title-text-color);
 }
 
 .project-list__item + .project-list__item {
	margin-left: 30px;
 }
 
 .project-list__thumb {
	position: relative;
 }
 
 .project-list__img {
	position: absolute;
	left: 0;
	bottom:1%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 370px;
	height: 70px;
	background: rgba(47, 48, 58, 0.8);
 font-family: var(--main-font);
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: calc(16 / 14);
 text-align: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: var(--primary-white-color);
 }