.team {
	background-color: var(--background-color-gray);
	padding-top: 94px;
	padding-bottom: 94px;
 }
 .team__title {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--title-text-color);
 }
 .card {
	width: 270px;
	height: 428px;
	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
 }
 .card + .card {
	margin-left: 30px;
 }
 .team-list__photo {
	display: block;
 }
 .team-list__about {
	padding-top: 30px;
	padding-bottom: 16px;
 }
 .team-list__title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--title-text-color);
 }
 .team-list__text {
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 400;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--primary-text-color);
 }
 .social-icon {
	display: flex;
	justify-content: center;
 }
 .social-icon__item {
	width: 44px;
	height: 44px;
	background: #FFFFFF;
	margin-right: 10px;
	border-radius: 50%;
	/* outline: 1px solid red; */
 }
 .social-icons {
	fill: #AFB1B8;
 }
 .social-icon__item {
	&:hover, &:focus {
		background-color: var(--accent-color);
	 }
 }
 
 .social-icon__item {
   &:hover, &:focus {
       .social-icons {
 fill: var(--primary-white-color);
 } 
   } 
 }
	.team-list {
		.social-link {
	 width: 100%;
	  height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	.social-icon__item:last-child {
	  margin-right: 0;
	}
  }
 .social-icon .social-link {
	display: flex;
	padding: 0px;
 }